@use 'constants.scss'as *;


.charactersPage {
	.mainTitle {
		@include mainTitle
	}

	.menu {
		@include flexRow($w:500px);
		margin-top: 30px;

		.filters {

			.title {

				@include flexRow();
				cursor: pointer;
				position: relative;

				.titleText {
					font-size: 25px;
					font-weight: 600;
					letter-spacing: 0.03em;
					position: relative;
					margin-right: 6px;
				}
			}

		}

	}

	.cards {
		@include cardsRows;
	}
}