@use 'constants.scss'as *;

.сharacterCard {
	display: flex;
	background: $cardColor;
	width: 600px;
	height: 220px;
	border-radius: 15px;
	margin: 13px;

	box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
	animation: appearEffect 300ms ease-in-out forwards;

	.side1 {
		width: 220px;

		img {
			cursor: pointer;
			border-radius: 15px 0 0 15px;
			object-position: center center;
			object-fit: cover;
			width: inherit;
			opacity: 1;
			transition: opacity 0.5s ease 0.5s;
		}

	}

	.side2 {
		padding: 15px 12px 20px 15px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.nameStatus {

			.name {
				font-size: 23px;
				font-weight: 900;
				letter-spacing: 0.03em;
				line-height: 23px;
				transition: 0.1s;
				margin-bottom: 5px;
			}

			.status {
				display: flex;
				align-items: center;
				font-weight: 600;
				letter-spacing: 0.03em;
				font-size: 16px;
				text-transform: capitalize;

				.dot {
					width: 10px;
					height: 10px;
					// background: red;
					border-radius: 50%;
					margin-right: 4px;
				}
			}
		}

		.origin {
			justify-content: center;

			.title {
				@include cardTitleStyle;

			}

			.originName {
				font-weight: 400;
				letter-spacing: 0.03em;

			}
		}

		.firstSeen {
			// padding-bottom: 2px;

			.title {
				@include cardTitleStyle;

			}

			.episodTitle {
				transition: 0.1s;

				span {
					transition: inherit;
				}
			}

			.episodTitle:hover {
				cursor: pointer;


				span {
					color: $activeLinkColor;
				}
			}

			.isNotSpanActive:hover {
				cursor: default;

				span {

					color: $textColor;
				}
			}

			.episodTitle span:first-child {
				margin-right: 20px;
			}
		}
	}
}

@keyframes appearEffect {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@media screen and (max-width: 500px) {
	.сharacterCard {
		flex-direction: column;
		width: 300px;
		height: 100%;
		margin-bottom: 25px;

		.side1 {
			width: 100%;

			img {
				border-radius: 15px 15px 0 0;
				width: inherit;
			}

		}

		.side2 {


			.nameStatus {
				margin-bottom: 10px;

				.name {
					margin-bottom: 7px;
				}

			}

			.origin {
				margin-bottom: 10px;
			}
		}
	}
}