@use '../constants.scss'as *;



.filterContainer {
	z-index: 5;
	border-radius: 7px;
	box-shadow: 0px 2px 5px 2px #1d1e20;
	position: absolute;
	background: $textColor;
	width: 200px;
	left: calc(50% - 296px);
	padding: 10px 15px;
	height: 240px;
	overflow-y: scroll;
	opacity: 0;
	transition: 0.3s;
	display: block;
	transform: translateY(-10px);
	pointer-events: none;
	cursor: default;

	@media screen and (max-width: 500px) {
		left: 10px;

	}

	&::-webkit-scrollbar {
		width: 14px;
	}

	&::-webkit-scrollbar-track {
		border-top-right-radius: 7px;
		border-bottom-right-radius: 7px;
		background: #dcdcdc;
	}

	&::-webkit-scrollbar-thumb {
		background: #888;
		border-radius: 7px;
		background-clip: content-box;
		border: 2px solid transparent;

	}

	&::-webkit-scrollbar-thumb:hover {
		background: #24282fcd;
		background-clip: content-box;
	}



	.filterBtn {
		text-align: center;

		button {
			cursor: default;
			width: 125px;
			height: 30px;
			border: 2px solid $bgColor;
			border-radius: 7px;
			color: $bgColor;
			line-height: 0px;
		}
	}

	.isBtnActive {
		button {
			cursor: pointer;

			&:hover {
				font-weight: 600;
				border: 2.5px solid #232831;
				font-size: 16px;
			}
		}
	}
}

.active {
	transform: translateY(10px);
	pointer-events: all;
	cursor: pointer;
	opacity: 1;

}